/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 mai 2015, 13:51:28
    Author     : Marvell
*/

.pagination{text-align: center;margin: 0;list-style: none;}
.pagination li {font-size: smaller;  display: inline-block;  margin-right: 2px;}
.pagination li span{  color: inherit;  padding: 1px 6px;  border: 1px solid #EEE;  background: white;  display: block;    }
.pagination li.active span{  color: #fff;  background: #F4716A;  border-color: #F4716A;}
.pagination li.disabled span{  color: gainsboro;  background: whitesmoke;  border-color: whitesmoke;}
.pagination li a {  color: inherit;  padding: 1px 6px;  border: 1px solid #EEE;  background: white;  display: block;}
.pagination li a:hover {  color: #F4716A;  border: 1px solid #F4716A;}
.pagination ul li:before{content:"";} 

.tri{text-align: right;margin: 15px 0 !important;}
.tri span{background: white;padding: 10px;margin-right: 15px;}

.variantes-versions{  width: 100%;margin: 0 0 30px;background: #fff;}
.variantes-versions li{ padding: 7px 15px !important;font-size: 12px;}
.variantes-versions li a{color: black;}
.variantes-versions li a:hover{color: #F4716A;}
.variantes-versions li a span{vertical-align: -webkit-baseline-middle}
.variantes-versions img{display: inline-block;vertical-align: middle;float: left;margin-right: 5px;}

.ingredient-non-formatted{  width: 100%;margin: 0 0 30px;background: #fff;}
.ingredient-non-formatted li{border-bottom: 1px solid whitesmoke; padding: 9px 20px;font-size: 13px;}


.widget.share i.fa{  margin: 16px 0 9px;}

li.link-not-activated a{pointer-events: none;cursor: default;background-color: whitesmoke !important; color: rgb(200, 200, 200);}

a.link-not-activated{pointer-events: none;cursor: default;background-color: whitesmoke !important; color: rgb(200, 200, 200);}


a.isLiker, a.isFavoris{background: rgb(40, 173, 97) !important}

ul.note-recette{}
ul.note-recette li{background-color:#F4716A;float: left;color: white;width: 20%;border-left: 1px solid whitesmoke;font-weight: bold;}
ul.note-recette li:hover{background-color:rgb(40, 173, 97);cursor: pointer; }

.widget.isRater{text-align: center;background-color: green;color: white;}
.rate-like-display{padding: 5px !important; border-radius: 5px; background: rgba(255,255,255,0.4) !important;}
.rate-like-display p.one-half{
  font-weight: 300 !important;
  margin: 0.3em auto;text-align: center; min-height: 66px;padding: 10px !important;}
.rate-like-display p.one-half span{font-weight: bold;color: rgb(40, 173, 97)}

.ui-autocomplete li.ui-menu-item:hover{  color: white !important;background-color: rgb(255, 142, 136)!important;}