
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div class="col-sm-2 centered">
        <center>
            {% if object.image and admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
                <a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid }) }}" style="float: left; margin-right: 6px;">{% thumbnail object.image, 'admin' with {'width': 90, 'style':'max-width: none !important'} %}</a>
            {% else %}
                <i class="fa fa-chain-broken fa-3x"></i>
            {% endif %}
        </center>
    </div>
   
{% endblock %}
