{# footer Twig template #}
<footer class="foot" role="contentinfo">
            <div class="wrap clearfix">
                <div class="row">
                    <article class="one-half">
                        <h5>A propos de MealSquare</h5>
                        <p>MealSquare est un site de recette culinaire.</p>
                    </article>
                    <article class="one-fourth">
                        <h5>Besoin d'aide ?</h5>
                        <p>Contactez-nous via un téléphone phone ou un email</p>
                        <p><em>T:</em>  +1 555 555 555<br /><em>E:</em>  <a href="#">MealSquare@gmail.com</a></p>
                    </article>
                    <article class="one-fourth">
                        <h5>Nous suivre</h5>
                        <ul class="social">
                            <li class="facebook"><a href="#" title="facebook">facebook</a></li>
                            <li class="youtube"><a href="#" title="youtube">youtube</a></li>
                            <li class="rss"><a href="#" title="rss">rss</a></li>
                            <li class="gplus"><a href="#" title="gplus">google plus</a></li>
                            <li class="linkedin"><a href="#" title="linkedin">linkedin</a></li>
                            <li class="twitter"><a href="#" title="twitter">twitter</a></li>
                            <li class="pinterest"><a href="#" title="pinterest">pinterest</a></li>
                            <li class="vimeo"><a href="#" title="vimeo">vimeo</a></li>
                        </ul>
                    </article>

                    <div class="bottom">
                        <p class="copy">Copyright 2015 MealSquare. All rights reserved</p>

                        <nav class="foot-nav">
                            <ul>
                                <li><a href="#" title="Home">ACCUEIL</a></li>
                                <li><a href="#" title="Recipes">LES RECETTES</a></li>
                                <li><a href="#" title="Blog">LES INGREDIENTS</a></li>   
                                <li><a href="#" title="Rechercher une recette">RECHERCHER UNE RECETTE</a></li>
                                <li><a href="#" title="Se connecter">SE CONNECTER</a></li>	<li><a href="#" title="S'inscrire">S'INSCRIRE</a></li>													
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>